<footer>
    {% if page.tags %}<p>{{l10n_tags}}:&nbsp;
        {%- assign sorttags = page.tags | sort -%}
        {%- for tag in sorttags -%}
            <a href="/tag/#{{ tag }}">{{ tag }}</a>
        {% endfor %}
    </p>{% endif %}
    <center>
        {% if page.license == "ZERO" or page.license contains "BY" -%}
        <img src="/assets/img/cc.svg" class="footer__icon"/>
        {% endif %}{% if page.license == "ZERO" -%}
        <img src="/assets/img/zero.svg" class="footer__icon"/>
        {% endif %}{% if page.license contains "BY" -%}
        <img src="/assets/img/by.svg" class="footer__icon"/>
        {% endif %}{% if page.license contains "NC" -%}
        <img src="/assets/img/nc.svg" class="footer__icon"/>
        {% endif %}{% if page.license contains "ND" -%}
        <img src="/assets/img/nd.svg" class="footer__icon"/>
        {% endif %}{% if page.license contains "SA" -%}
        <img src="/assets/img/sa.svg" class="footer__icon"/>
        {% endif %}{%- unless page.license -%}
        <img src="/assets/img/cc.svg" class="footer__icon"/>
        <img src="/assets/img/by.svg" class="footer__icon"/>
        <img src="/assets/img/sa.svg" class="footer__icon"/>
        {%- endunless %}
    </center>
    {% unless page.license %}<p>
        Except where otherwise noted content on this site is licensed under
        a <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative
        Commons Attribution-ShareAlike 4.0 International License</a>. You
        may share and/or modify this work so long as your usage meets the
        following conditions: proper credit must be given to the original
        author in a way that does not imply endorsement from the licensor,
        any modified version of the work is distributed under the same
        license as the original, and a link to the license must be
        provided*.{% endunless %}
    {% if page.license %}<p>
        &ldquo;{{page.title | default: site.github.repository_name}}&rdquo;
        {% if page.license == "ZERO" or page.license contains "BY" %}
        is licensed under <a
            href="https://creativecommons.org/licenses/{{page.license|downcase}}/{%if page.license=="ZERO"%}1.0{%else%}4.0{%endif%}/"
        >{{l10n_license}}</a>. You may share
        {% unless page.license contains "ND" %}
        and/or modify
        {% endunless %}
        this work
        {% if page.license == "ZERO" %}
        unconditionally*.
        {% else %}
        so long as your usage meets the following conditions: proper credit must
        be given to the original author in a way that does not imply endorsement
        from the licensor,
        {% if page.license contains "NC" %}
        the work is not used for any commercial purposes,
        {% endif %}{% if page.license contains "ND" %}
        no modifications are done to the work,
        {% else %}
        there must be some indication if changes were made,
        {% endif %}{% if page.license contains "SA" %}
        any modified version of the work is distributed under the same license
        as the original,
        {% endif %}
        and a link to the license must be provided*.
        {% endif %}{% endif %}{% endif %}
        Permissions beyond the scope of this license may be available at
        <a href="/permissions">{{site.url}}/permissions</a>.
    </p>
    <center>
        {% if site.social.links %}{% for link in site.social.links %}
        {% if link contains "github.com" %}
        <a href="{{link}}"><img src="/assets/img/github.svg"
            class="footer__icon"></a>
        {% endif %}{% if link contains "twitter.com" %}
        <a href="{{link}}"><img src="/assets/img/twitter.svg"
            class="footer__icon"></a>
        {% endif %}{% if link contains "youtube.com" %}
        <a href="{{link}}"><img src="/assets/img/youtube.png"
            class="footer__icon footer__icon_yt"></a>
        {% endif %}
        {% endfor %}{% endif %}
    </center>
    <p>
        The code for this site is open source, licensed under the
        <a href="{{ site.github.repository_url }}/blob/master/LICENSE">MIT
        License</a> and available on <a href="https://github.com">GitHub</a> as
        <a href="{{ site.github.repository_url }}">
        {{ site.github.repository_nwo}}</a>. It is available "as is" without
        warranty of any kind and with no liability held for the author. The MIT
        License is a permissive free software license that allows for unlimited
        rights to use, copy, modify, publish, distribute, or sell any works
        licensed under it*.
    </p>
    <a href="https://github.com"><img src="/assets/img/github.svg"
        class="footer__icon footer__icon_git"/></a>
    <p>
        This site is hosted by <a href="https://github.io">GitHub Pages</a>, a
        static site hosting service ran by
        <a href="https://github.com">GitHub</a>. Themes, templates, and posts
        are possible through <a href="https://jekyllrb.com/">Jekyll</a> a static
        site generator built in <a href="https://www.ruby-lang.org/">Ruby</a>.
    </p>
    <p>
        CREATIVE COMMONS&reg;, CC, the CC logo, CC0, and all of the Creative
        Commons license and public domain buttons and icons are
        <a href="https://creativecommons.org/policies">trademarks</a> of
        Creative Commons. License descriptions are based on those provided by
        Creative Commons on their
        <a href="https://creativecommons.org/licenses/">website</a>.

        GITHUB&reg; and the GITHUB&reg; logo design are exclusive trademarks
        registered in the United States by GitHub, Inc.

        TWITTER, TWEET, RETWEET and the Twitter logo are trademarks of Twitter,
        Inc. or its affiliates
    </p>
    <p>{{l10n_disclaim}}</p>
</footer>
