<header>
    <script>
        window.localCookies = {};
        (window.parseCookies = ()=>document.cookie.split(';').map(
            x=>{
                let y = x.split('=');
                localCookies[y[0].trim()]=y[1]
            }
        ))();
        console.log(localCookies);
        window.isDarkMode =
            document.getElementsByTagName('html')[0].classList.contains('dark');
        window.toggleDarkMode = function(){
            document.getElementsByTagName('html')[0].classList[
                (isDarkMode = !isDarkMode) ? 'add' : 'remove'
            ]('dark');
            document.cookie = `dark=${isDarkMode}; path=/;`;
            parseCookies();
        }
        if(localCookies.dark == null){
            document.cookie = `dark=${isDarkMode}; path=/; expires=${new Date(+new Date()+32e9).toUTCString()}; `;
            parseCookies();
        }
        else if(isDarkMode !== eval(localCookies.dark)) toggleDarkMode();
        document.addEventListener('keypress',e=>{
            if(e.keyCode == 68 && e.shiftKey) toggleDarkMode();
        });
    </script>
    <div class="header__breadcrumb">
        <a href="{{site.url}}">anarchy.website</a>
        {%- if series -%}
            {%- if series.type == "series" -%}
                &nbsp;/&nbsp;
                {%- if series.url -%}<a href="{{series.url}}">{%- endif -%}
                  {{ l10n_series }}
                {%- if series.url -%}</a>{%- endif -%}
                {%- if page.entry -%}
                    ,&nbsp;
                    {%- if series.entry -%}
                        {{ series.entry }}&nbsp;
                    {%- endif -%}
                    {{ page.entry }}
                {%- endif -%}
            {%- endif -%}
        {%- endif -%}
    </div>
    <div class="header__toggle">
        <a id="darkModeButton" href="javascript:toggleDarkMode()"
            title="Shift+D">{{ l10n_dark }}</a>
    </div>
</header>
