{%- if post.series -%}
    {%- assign series = site.data.series[post.series] -%}
{%- endif -%}

{% case post.lang %}
{% when 'ja' %}
    {%- capture l10n_authors -%}
        {%- if post.author -%}
            {%- for author in post.author -%}
                {%- assign auth = site.data.people[author] -%}
                {%- if auth.url -%}
                    <a href="{{auth.url}}">
                {%- endif -%}
                {%- if auth.name_ja -%}
                    {{ auth.name_ja }}
                {%- else -%}
                    {{ auth.name }}
                {%- endif -%}
                {%- if auth.url -%}
                    </a>
                {%- endif -%}
                、
            {%- endfor -%}
        {%- endif -%}
    {%- endcapture -%}
    {%- capture l10n_authors_plain -%}
        {%- if post.author -%}
            {%- for author in post.author -%}
                {%- assign auth = site.data.people[author] -%}
                {%- if auth.name_ja -%}
                    {{ auth.name_ja }}
                {%- else -%}
                    {{ auth.name }}
                {%- endif -%}
                、
            {%- endfor -%}
        {%- endif -%}
    {%- endcapture -%}
    {%- assign l10n_dark = 'ダークモード' -%}
    {%- capture l10n_date -%}
        {{ post.date | date: '%Y年%m月%d日' }}
    {%- endcapture -%}
    {%- assign l10n_next = '次' -%}
    {%- assign l10n_prev = '前' -%}
    {%- capture l10n_series -%}
        {%- if series.title_ja -%}
            {{ series.title_ja }}
        {%- else -%}
            {{ series.title }}
        {%- endif -%}
    {%- endcapture -%}
    {%- assign l10n_tags = 'このポストのタグは' -%}

    {%- capture l10n_disclaim -%}
        ※これは<ruby>
            <rtc><rt>べんごし</rt><rt></rt><rt>そうだん</rt></rtc>
            <rbc><rb>弁護士</rb><rb>に</rb><rb>相談</rb></rbc>
        </ruby>ではありません。
    {%- endcapture -%}
    {%- capture l10n_license -%}
        Creative Commons&nbsp;
        {%- if post.license == "ZERO" -%}
            CC0 1.0 全世界
        {%- else -%}
        {%- if post.license contains "BY" -%}
            表示
        {%- endif -%}
        {%- if post.license contains "NC" -%}
            &nbsp;- 非営利
        {%- endif -%}
        {%- if post.license contains "ND" -%}
            &nbsp;- 改変禁止
        {%- endif -%}
        {%- if post.license contains "SA" -%}
            &nbsp;- 継承
        {%- endif -%}
            &nbsp;4.0 国際
        {%- endif -%}
    {%- endcapture -%}

{% else %}
    {%- capture l10n_authors -%}
        {%- if post.author -%}
            By&nbsp;
            {%- for author in post.author -%}
                {%- assign auth = site.data.people[author] -%}
                {%- if forloop.last == true and forloop.length > 1 -%}
                    and&#32;
                {%- endif -%}
                {%- if auth.url -%}
                    <a href="{{auth.url}}">
                {%- endif -%}
                {{ auth.name }}
                {%- if auth.url -%}
                    </a>
                {%- endif -%}
                {%- if auth.pronouns -%}
                    &#32;<span class="dimmed">({{auth.pronouns}})</span>
                {%- endif -%}
                {%- unless forloop.length == 2 and forloop.index == 1 -%}
                    ,
                {%- endunless -%}
                &#32;
            {%- endfor -%}
        {%- endif -%}
    {%- endcapture -%}
    {%- capture l10n_authors_plain -%}
        {%- if post.author -%}
            By&nbsp;
            {%- for author in post.author -%}
                {%- assign auth = site.data.people[author] -%}
                {%- if forloop.last == true and forloop.length > 1 -%}
                    and&#32;
                {%- endif -%}
                {{ auth.name }}
                {%- unless forloop.length == 2 and forloop.index == 1 -%}
                    ,
                {%- endunless -%}
                &#32;
            {%- endfor -%}
        {%- endif -%}
    {%- endcapture -%}
    {%- assign l10n_dark = 'Toggle Dark Mode' -%}
    {%- capture l10n_date -%}
        {{ post.date | date: '%B %d, %Y' }}
    {%- endcapture -%}
    {%- assign l10n_next = 'Next' -%}
    {%- assign l10n_prev = 'Prev' -%}
    {%- assign l10n_series = series.title -%}
    {%- assign l10n_tags = 'This post is tagged' -%}

    {%- assign l10n_disclaim = '*This is not legal advice.' -%}
    {%- capture l10n_license -%}
        Creative Commons&nbsp;
        {%- if post.license == "ZERO" -%}
            CC0 1.0 Universal
        {%- else -%}
        {%- if post.license contains "BY" -%}
            Attribution
        {%- endif -%}
        {%- if post.license contains "NC" -%}
            -NonCommercial
        {%- endif -%}
        {%- if post.license contains "ND" -%}
            -NoDerivatives
        {%- endif -%}
        {%- if post.license contains "SA" -%}
            -ShareAlike
        {%- endif -%}
            &nbsp;4.0 International
        {%- endif -%}
    {%- endcapture -%}
{% endcase %}
