{%- if page.series and page.series_index -%}
    {%- assign series_posts = site.posts | where: "series", page.series -%}
    {%- capture prev_index -%}{{page.series_index | minus: 1}}{%- endcapture -%}
    {%- capture next_index -%}{{page.series_index | plus:  1}}{%- endcapture -%}
    {%- assign prev = series_posts | where: "series_index", prev_index | first -%}
    {%- assign next = series_posts | where: "series_index", next_index | first -%}
    <div class="navigation">
        <div class="navigation-previous">
            {%- if prev -%}
                <a href="{{prev.url}}">{{prev.title}}</a>　&larr; {{l10n_prev}}
            {%- endif -%}</div>
        <div class="navigation-center">
            {%- if ser.url -%}<a href="{{ser.url}}">{%- endif -%}
                {%- if ser.title_stylized -%}
                    {{ser.title_stylized}}
                {%- else -%}
                    {{ser.title}}
                {%- endif -%}
            {%- if ser.url -%}</a>{%- endif -%}
        </div>
        <div class="navigation-next">
            {%- if next -%}
                {{l10n_next}} &rarr;　<a href="{{next.url}}">{{next.title}}</a>
            {%- endif -%}
        </div>
    </div>
{%- endif -%}
