{%- assign all = "X" | split: "" -%}
{%- capture description -%}
  {%- if post.description -%}
    {{ post.description }}
  {%- else -%}
    {{ post.content | strip_html | truncatewords:50 }}
  {%- endif -%}
{%- endcapture -%}
{%- include localization.html post=post -%}
<div
  class="preview {%- if post.image %} preview_span {%- endif -%}"
  data-tags="{{ post.tags | concat: all | join: ', ' }}"
>
  {% if post.image %}
  <div class="image">
    <img class="img" src="{{ post.image }}" />
    <div class="overlay">
      <div class="text">
  {% endif %}
        {% if post.series %}
          {%- assign ser = site.data.series[post.series] -%}
          <div class="series">
            {{ l10n_series }}
            {%- if post.entry -%}
              {%- if series.type == "series" -%}
                ,&nbsp;
              {%- else -%}
                &nbsp;&ndash;&nbsp;
              {%- endif -%}
              {%- if ser.set -%}
                {{ser.set}} {{post.set}},&nbsp;
              {%- endif -%}
              {%- if series.entry -%}
                {{ series.entry }}&nbsp;
              {%- endif -%}
              {{ post.entry }}
            {%- endif -%}
          </div>
        {% endif %}
        <h3 class="title">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h3>
        <p class="byline">{{ l10n_authors }}{{ l10n_date }}</p>
        <p class="description">{{ description }}</p>
  {% if post.image %}
      </div>
    </div>
  </div>
  {% endif %}
</div>
