{% assign all = "X" | split: "" %}
<div
    class="preview"
    data-tags="{{ post.tags | concat: all | join: ', ' }}"
>
    <a class="preview-title" href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
    <p class="preview-description">
        {% if post.description %}
            {{ post.description }}
        {% else %}
            {{ post.content | strip_html | truncatewords:75}}
        {% endif %}
    </p>
    <p class="preview-tags">
        <a href="{{ post.url }}">{{post.date|date:'%B %d, %Y'}}</a>,
        tags:
        {% assign sorttags = post.tags | sort %}
        {% for tag in sorttags %}
            {% capture tag_name %}{{ tag }}{% endcapture %}
            <a href="/tag/#{{ tag_name }}">#{{ tag_name }}</a>
        {% endfor %}
    </p>
</div>
