{% assign all = "X" | split: "" %}
{% capture description %}
    {% if post.description %}
        {{ post.description }}
    {% else %}
        {{ post.content | strip_html | truncatewords:75}}
    {% endif %}
{% endcapture %}
{% include localization.html post=post %}
<div
    class="preview {% if post.image %}preview_span{% endif %}"
    data-tags="{{ post.tags | concat: all | join: ', ' }}"
>
    {%- if post.image -%}
        <div class="preview__image {% if post.replace_title %}preview__image_replace{% endif %}">
            <img class="preview__img" src="{{ post.image }}" />
            <div class="preview__overlay">
                <div class="preview__text">
                    <h3 class="preview__title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
                    <p class="preview__byline">{{ l10n_authors_plain }}{{ l10n_date }}</p>
                    <p class="preview__description">{{ description }}</p>
                </div>
            </div>
        </div>
    {%- else -%}
        <h3 class="preview__title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <p class="preview__byline">{{ l10n_authors_plain }}{{ l10n_date }}</p>
        <p class="preview__description">{{ description }}</p>
    {%- endif -%}
</div>
