/**
 *  @file Block styles, for mobile
 *  @author Una Ada <una@anarchy.website>
 *  January 3, 2021 - May 7, 2021
 */

.copy {
    overflow: scroll;
    width: 100%;
}
.divider {
    &.divider_byline .divider_fallback .divider__segment {
        display: none;
    }
    &.divider_byline_actual .divider_fallback .divider__right {
        display: none;
    }
    .divider__mobileSpace {
        display: initial;
        flex: 1 1 0;
    }
    .divider__segment {
        display: none;
    }
}
.footnotes {
    column-count: auto;
}
.previews {
    column-count: auto;
}
.preview .image {
  min-height: calc(50vw - 2rem);
  .text {
    .byline {
        margin-bottom: 1rem;
    }
    .description {
        display: none;
    }
    .series {
      .series_abbr {
        display: inline;
      }
      .series_name {
        display: none;
      }
    }
  }
}
.sidebar {
   float: none !important;
   margin: 0 auto !important;
}
