/*
 * - https://github.com/rouge-ruby/rouge/wiki/List-of-tokens
 */

pre.highlight {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}
:not(pre) > code.highlight,
:not(pre) > code.highlighter-rouge {
  border-radius: 0.3em;
  white-space: normal;
}
.highlight {
  background: none;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  tab-size: 4;
  hyphens: none;
  table {
    td {
      padding: 5px;
    }
    pre {
      margin: 0;
    }
  }
}
.highlight,
.highlighter-rouge {
  .c,  // Comment
  .cm, // Comment.Multiline
  .cp, // Comment.Preproc
  .c1, // Comment.Single
  .cs  // Comment.Special
  {
    color: $chive;
  }
  .p,  // Punctuation
  .dl
  {
    color: $chive;
  }
  .nl, // Name.Label
  .nt  // Name.Tag
  {
    color: $baked;
  }
  .gd, // Generic.Deleted
  .na, // Name.Attribute
  .nx, // Name.Other
  .py, // Name.Property
  .nb, // Name.Builtin
  .bp, // Name.Builtin.Pseudo
  .no  // Name.Constant
  {
    color: $baked;
  }
  .m,  // Literal.Number
  .mf, // Literal.Number.Float
  .mh, // Literal.Number.Hex
  .mi, // Literal.Number.Integer
  .il, // Literal.Number.Integer.Long
  .mo, // Literal.Number.Oct
  .mx, // Literal.Number.Hex
  .mb  // Literal.Number.Bin
  {
    color: $wines;
  }
  .gi, // Generic.Inserted
  .l,  // Literal
  .ld, // Literal.Date
  .s,  // Literal.String
  .sb, // Literal.String.Backtick
  .sc, // Literal.String.Char
  .sd, // Literal.String.Doc
  .s2, // Literal.String.Double
  .se, // Literal.String.Escape
  .sh, // Literal.String.Heredoc
  .si, // Literal.String.Interpol
  .s1, // Literal.String.Single
  .ss  // Literal.String.Symbol
  {
    color: $foamy;
  }
  .ni, // Name.Entity
  .o,  // Operator
  .ow, // Operator.Word
  .sx  // Literal.String.Other
  {
    color: $coral;
  }
  .k,  // Keyword
  .kc, // Keyword.Constant
  .kd, // Keyword.Declaration
  .kn, // Keyword.Namespace
  .kp, // Keyword.Pseudo
  .kr, // Keyword.Reserved
  .kt  // Keyword.Type
  {
    color: $coral;
  }
  .n,  // Name
  .nc, // Name.Class
  .nd, // Name.Decorator
  .nf, // Name.Function
  .nn  // Name.Namespace
  {
    color: $baked;
  }
  .nv, // Name.Variable
  .vc, // Name.Variable.Class
  .vg, // Name.Variable.Global
  .vi, // Name.Variable.Instance
  .sr  // Literal.String.Regex
  {
    color: $baked;
  }
  .ge  // Generic.Emph
  {
    font-style: italic;
  }
  .gs  // Generic.Strong
  {
    font-weight: bold;
  }

  /*
  .w,  // Text.Whitespace
  .err,// Error
  .x,  // Other
  .ne, // Name.Exception
  .g,  // Generic
  .gr, // Generic.Error
  .gh, // Generic.Heading
  .go, // Generic.Output
  .gp, // Generic.Prompt
  .gu, // Generic.Subheading
  .gt, // Generic.Traceback
  .gl  // Generic.Lineno
  */
}

.dark {
  .gd, // Generic.Deleted
  .na, // Name.Attribute
  .nx, // Name.Other
  .py, // Name.Property
  .no  // Name.Constant
  {
    color: $reeds;
  }
}