/**
 *  @file Ruby text fixes for iOS devices
 *  @author Una Ada <una@anarchy.website>
 *  January 3, 2021 - September 2, 2021
 */

html.iOS {
  h1 ruby {
    margin-top: -0.5em;
  }
  ruby {
    vertical-align: 1em;
    margin-top: 0;
  }
}
