---
---

@import 'prism.css';

// Fonts
@font-face {
	font-family: 'M+1';
	src: url('/assets/fonts/mplus-1-regular-sub.eot');
	src: url('/assets/fonts/mplus-1-regular-sub.eot?#iefix') format('embedded-opentype'),
	url('/assets/fonts/mplus-1-regular-sub.woff') format('woff'),
	url('/assets/fonts/mplus-1-regular-sub.ttf') format('truetype');
}
@font-face {
	font-family: 'M+1M';
	src: url('/assets/fonts/mplus-1m-regular-sub.eot');
	src: url('/assets/fonts/mplus-1m-regular-sub.eot?#iefix') format('embedded-opentype'),
	url('/assets/fonts/mplus-1m-regular-sub.woff') format('woff'),
	url('/assets/fonts/mplus-1m-regular-sub.ttf') format('truetype');
}

$copy-font: 'Noto Sans', 'source-han-sans-japanese', sans-serif;
$mono-font: 'M+1M', 'M+1', monospace;
$title-font: 'mencken-std', 'source-han-serif-japanese', serif;

// Colors and sizes
$line-height: 1.7;
$primary:   #444;
$pq-width:  18rem;
$secondary: white;
$tertiary:  #983030;
$tertiary-alt: #ffb3cc;
$width:     48rem;

// Elements
a {
	text-decoration: underline;
	color: $tertiary;
}
a ruby rb, a ruby rbc {
	text-decoration: underline;
}
blockquote {
	border-left: 2px solid $primary;
	margin: 0;
	padding-left: 2rem;
}
body {
	font-family: $copy-font;
	margin: 1.5rem auto 0 auto;
	width: $width;
}
.byline {
	margin-bottom: 2rem;
}
code {
	background: #eee;
	border-radius: 0.2rem;
}
code, pre {
	font-family: $mono-font;
}
center * {
	text-align: center !important;
}
.dialogue {
	td {
		padding: 0 0.3rem !important;
		width: 40%;
	}
	td:first-child {
		width: 20%;
	}
}
.dimmed {
	opacity: 0.7;
}
div:target {
	background: #eee;
}
.emoji { // Twemoji style
	height:1em;
	vertical-align: -0.1em;
	width:1em;
}
.extra-tl {
	td:first-child {
		width: 15%;
	}
	td {
		width: calc(85% / 3);
	}
}
footer {
	background: $primary;
	color: $secondary;
	font-size: 14px;
	font-family: $mono-font;
	margin: 4rem 0 0 0;
	min-height: 50vh;
	padding: 1rem;
	a {
		color: $secondary;
	}
	code {
		background: none !important;
	}
	p {
		line-height: 1.2;
		text-align: left;
	}
}
.footnote {
	text-decoration: none;
}
.footnote::after {
	content: "]";
	vertical-align: top;
}
.footnote::before {
	content: "[";
	vertical-align: top;
}
.footnote:hover {
	text-decoration: underline;
}
h1, h2, h3, h4 {
	font-family: $title-font;
	font-weight: 700;
	line-height: 1.2em;
	code {
		background: none !important;
		line-height: 1;
	}
}
h1 a, h2 a, h3 a, h4 a{
	text-decoration: none;
}
h1 {
	font-size: 2.5rem;
	margin: 0;
}
h2 {
	font-size: 2em;
	margin-top: 3em;
	text-align: center;
}
h3 {
	font-size: 1.5em;
	margin-top: 2em;
}
hr {
	background: $primary;
	border: 0;
	height: 1px;
}
hr + h2 {
	margin-top: 0;
}
.hovercard {
	background: #fff;
	box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
	display: none;
	font-family: $copy-font;
	font-size: 0.8rem;
	max-width: $width / 2;
	padding: 1em;
	position: fixed;
	transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	z-index: 101;
}
.hovercard p {
	font-size: 0.8rem;
	line-height: normal;
	margin: 0;
}
html {
	color: $primary;
	font-size: 12pt;
}
img, video {
	max-width: 100%;
}
li, p {
	line-height: $line-height;
	text-align: justify;
}
.MathJax {
	vertical-align: text-bottom;
}
ol {
	padding-left: 2em;
}
p>span.MathJax_SVG {
	margin-bottom: -1em !important;
}
pre {
	background: $secondary;
	border: 1px solid $primary;
	overflow: auto;
	padding: 1rem !important;
	tab-size: 4;
	code {
		background: none !important;
	}
}
.signature {
	display: block;
	text-align: right;
	width: 100%;
}
.section-break {
	margin-top: 6rem;
}
small {
	font-size: 0.8rem;
	text-align: justify;
}
sub {
	vertical-align: bottom;
	position: relative;
	bottom: -0.3em;
}
.subtitle {
	margin: 0 0 0.5rem 0;
}
sup {
	vertical-align: top;
	line-height: 1.2;
	position: relative;
	top: 0em;
	font-size: 0.8em;
}
sup a {
	vertical-align: top;
	display: inline-flex;
}
.tab {
	display: inline-block;
	width: 2em;
}
.tab_half {
	display: inline-block;
	width: 1em;
}
table {
	border-collapse: collapse;
	margin: 1em 0;
	width: 100%;
}
td, th {
	line-height: $line-height;
	padding: 0.3rem;
	vertical-align: initial;
}
table.sidebar {
	border: 1px solid $primary;
	float: right;
	font-size: 0.8rem;
	font-weight: normal;
	margin-left: 1rem;
	margin-top: 0;
	text-align: left;
	td {
		vertical-align: top;
		padding: 0.2rem;
	}
	thead {
		font-size: 1rem;
	}
	th {
		border-bottom: 1px solid $primary;
		font-weight: normal;
		text-align: center;
	}
	width: $pq-width;
}
thead {
	font-family: 'Noto Sans', 'source-han-sans-japanese', sans-serif;
	font-weight: bold;
}
thead td,
thead th {
	padding-bottom: 0.5rem !important;
	text-align: left;
}
.title-card {
	margin:1rem 0 1rem -#{$pq-width / 2};
	max-width: none;
	width: #{$width + $pq-width};
}
tr:nth-child(even) {
	background: #fff0f8;
}
tr.tsection {
	background: none !important;
	border: 1px solid $primary;
	text-align: center;
}

// Ruby
ruby {
	display: inline-table;
	vertical-align: 0.95em;
	margin-bottom: -0.25em;
	margin-top: -0.25em;
}
ruby * {
	display: inline;
	line-height: 1;
	text-indent: 0;
	text-align: center;
	white-space: nowrap;
}
ruby > * {
	display: table-row-group;
}
ruby > rt, ruby rtc {
	display: table-header-group;
	font-family: $mono-font;
	font-size: 62%;
}
h1, h2, h3, h4 {
	ruby > rt, ruby rtc {
		font-family: $title-font;
	}
}
ruby rtc + rtc {
	display: table-footer-group;
}
ruby rbc > *, ruby rtc > * {
	display: table-cell;
}
ruby rtc > *[rbspan] {
	display: table-caption;
}
ruby rp {
	display: none;
}
rtc > rt[rbspan] {
	column-span: attr(rbspan);
}

// New BEM stuff

.content {
	p {
		margin: 2rem 0 1rem 0;
		text-indent: 2rem;
		&.content__p_dropcap {
			text-indent: initial;
			&::first-letter {
				float: left;
				font-family: $title-font;
				font-weight: bold;
				font-size: $line-height * 2rem;
				line-height: 1em;
				margin-bottom: -1rem;
				padding-right: 0.5rem;
				text-transform: uppercase;
			}
			span:first-child {
				font-family: $title-font;
				font-weight: bold;
				text-transform: uppercase;
			}
		}
		&.content__p_citation {
			margin: 0;
			padding-left: 2em;
			text-indent: -2em;
		}
		&.content__p_centered {
			text-align: center !important;
			text-indent: initial;
		}
		&.content__p_noindent {
			text-indent: initial;
			margin: 1rem 0;
		}
	}
	blockquote p {
		text-indent: initial;
		margin: 1rem 0;
	}
	sup {
		text-indent: initial
	}
}
.divider {
	height: 1em;
	// margin: 1em 0;
	position: relative;
	width: 100%;
	&.divider_byline {
		height: 1.5em;
		margin: -0.3em 0 2em 0;
		.divider_fallback {
			height: 1.5em;
			.divider__byline {
				padding-top: 0.3em;
			}
			.divider__left {
				margin-top: 0.1em;
			}
			.divider__segment,
			.divider__segment img {
				vertical-align: bottom;
			}
			.divider__right {
				padding-top: 0.3em;
				vertical-align: bottom;
			}
		}
		.divider_fancy {
			height: 1.5em;
			.divider_fancy__middle {
				.divider_fancy__byline {
					padding-top: 0.3em;
				}
				.divider_fancy__segment {
					height: 1.5em;
					vertical-align: bottom;
					img {
						vertical-align: bottom;
					}
				}
			}
			.divider_fancy__right {
				top: 0.5em;
			}
		}
	}
	.divider_normal {
		height: 1em;
		display: flex;
		.divider_dark {
			display: none;
		}
	}
	.divider_fallback {
		height: 1em;
		display: none;
		.divider_dark {
			display: none;
		}
	}
	.divider_fancy {
		height: 1em;
		.divider_dark {
			display: none;
		}
		.divider_fancy__left {
			bottom: 0;
			height: 6em;
			left: -2.75em;
			position: absolute;
			width: 2.25em;
		}
		.divider_fancy__middle {
			align-items: stretch;
			display: flex;
			.divider_fancy__segment {
				flex: 2 0;
				height: 1em;
				text-align: center;
				img {
					height: 1em;
				}
			}
			.divider_fancy__segment:first-child {
				flex: 1 0;
				text-align: left;
			}
			.divider_fancy__segment:last-child {
				flex: 1 0;
				text-align: right;
			}
		}
		.divider_fancy__right {
			height: 6em;
			left: calc(100% + 0.5em);
			position: absolute;
			top: 0;
			width: 2.25em;
		}
	}
	.divider__left {
		flex: 0 0 7em;
		height: 1.25em;
		margin-top: -0.25em;
		width: 7em;
	}
	.divider__segment {
		height: 1em;
		flex: 2 0;
		text-align: center;
		vertical-align: top;
		img {
			height: 1em;
			vertical-align: top;
		}
	}
	.divider__right {
		flex: 0 0 7em;
		height: 1em;
		width: 7em;
	}
}
.footnotes {
	column-count: 2;
	font-size: 0.8rem;
	line-height: normal;
	margin: 1rem 0;
	ol {
		margin: 0;
		li {
			line-height: normal;
			p {
				line-height: normal;
				margin: 0 0 0.5rem 0;
				text-indent: initial;
			}
		}
	}
}
header {
	display: flex;
	margin-bottom: 2rem;
	div.header__breadcrumb {
		flex: 3 0;
	}
	div.header__toggle {
		flex: 1 0;
		text-align: right;
	}
}
.navigation {
	margin-top: 6rem;
	width: 100%;
	&.navigation_pagination {
		margin-top: 0;
	}
	.navigation__arrows {
		display: flex;
		width: 100%;
		.navigation__previous {
			text-align: right;
			flex: 0 1 50%;
			order: -1;
		}
		.navigation__center {
			text-align: center;
			flex: 1 0 0;
			order: 0;
			padding: 0 0.5rem;
			white-space: nowrap;
		}
		.navigation__next {
			text-align: left;
			flex: 0 1 50%;
			order: 1;
		}
	}
	.navigation__list {
		line-height: 1;
		margin-top: 0.5rem;
		text-align: center;
		width: 100%;
	}
}
.previews {
	column-count: 2;
	column-gap: 2rem;
	margin: 2rem 0;
}
.preview {
	break-inside: avoid-column;
	margin: 0 0 2rem 0;
	&.preview_span {
		column-span: all;
	}
	.preview__byline {
		margin: 0;
		text-indent: initial;
	}
	.preview__description {
		margin: 0.5rem 0 1rem 0;
		overflow: hidden;
		text-indent: initial;
	}
	.preview__title {
		margin: 0;
		a {
			text-decoration: underline;
		}
	}
	.preview__image {
		position: relative;
		.preview__img {
			border-radius: 0.5rem;
			display: block;
		}
		.preview__overlay {
			background: rgba(0, 0, 0, 0.5);
			border-radius: 0.5rem;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}
		.preview__text {
			bottom: 0;
			color: white;
			left: 0;
			position: absolute;
			.preview__byline,
			.preview__description,
			.preview__title {
				color: white !important;
				padding: 0 1rem;
				a {
					color: white !important;
				}
			}
		}
	}
}
.pullquote {
	float: right;
	font-size: 1.5rem;
	font-weight: bold;
	margin: 0 -#{$pq-width / 2} 0 0 !important;
	padding: 1rem;
	text-align: center;
	text-indent: initial !important;
	width: $pq-width;
	&.pullquote_left {
		float: left;
		margin:0 0 0 -#{$pq-width / 2} !important;
	}
	&.pullquote_image {
		font-size: 1rem;
		font-weight: normal;
	}
}
.title_alone {
	line-height: 1;
}

// Dark Mode
html.dark {
	background:	#111;
	color: white;
	a {
		color: $tertiary-alt;
	}
	blockquote {
		border-left: 2px solid white;
	}
	code {
		background: #222;
	}
	footer {
		background: none;
		outline: 1px solid white;
	}
	.hovercard {
		background: #111;
		outline: 1px solid white;
	}
	hr {
		background: white;
	}
	pre {
		background: #111;
	}
	table.sidebar {
		border: 1px solid white !important;
		th {
			border-bottom: 1px solid white !important;
		}
	}
	tr:nth-child(even) {
		background: #181818;
	}
	tr.tsection {
		border: 1px solid white !important;
	}
	.light-mode-only {
		display: none;
	}
	.dark-mode-only {
		display: block;
	}

	.divider {
		.divider_normal,
		.divider_fallback,
		.divider_fancy {
			.divider_dark {
				display: inline;
			}
			.divider_light {
				display: none;
			}
		}
	}
}
.light-mode-only {
	display: block;
}
.dark-mode-only {
	display: none;
}


// Note color coding
hist {
	color: #4d8;
}
kw {
	color: #36d;
}
proof {
	color: #e44;
}

twitterwidget, twitter-widget {
	margin-left: calc(50% - 250px);
}

// Mobile and print
@media print, screen and (max-width: $width + $pq-width) {
	.pullquote {
		float: none !important;
		margin: 0 auto !important;
	}
	.title-card {
		margin: 1rem 0;
		width: 100%;
	}
	.divider {
		.divider_fancy {
			display: none;
		}
		.divider_fallback {
			display: flex;
		}
	}
}
@media print, screen and (max-width: $width + 2rem) {
	body {
		margin: 1.5rem 1rem !important;
		position: static;
		width: auto !important;
		text-align: left;
	}
}
@media print, screen and (max-width: $pq-width * 2) {
	.sidebar {
	   float: none !important;
	   margin: 0 auto !important;
   }
}
@media print, screen and (max-width: 500px){
	code, pre, footer {
		font-family: monospace;
	}
	.content {
		overflow: scroll;
		width: 100%;
	}
	.footnotes {
		column-count: auto;
	}
	twitterwidget, twitter-widget {
		margin-left: 0;
	}
}
@media print {
	.content {
		overflow: auto;
	}
	html {
		background: white;
	}
	h2 {
		margin-top: 1em;
	}
	body {
		color: black;
		padding: 0.4in 0;
	}
	.pullquote:not(.image) {
		display: none;
	}
}
