---
---

@import 'vs.css';

// Elements
a				{text-decoration:underline;color:#444;}
body			{font-family:'Lora',serif;margin:1.5rem 1.5rem 0 10rem;padding-bottom:50vh;width:610px;}
blockquote		{padding-left:10px;border-left:2px solid #444;margin:0;}
blockquote p	{margin:0.5rem 0;}
code        	{font-family:monospace;}
center *		{text-align:center !important;}
div:target		{background:#eee;}
.emoji			{height:1rem;} // for twemoji
footer			{background:#444;color:white;margin:4rem 0 -50vh 0;min-height:50vh;padding:1rem;}
footer a		{color:white;}
h1,h2,h3,h4		{font-family:'Playfair Display','Lora',sans-serif;font-style:italic;text-transform:capitalize;}
h1 a,h2 a,h3 a,h4 a{text-decoration:none;}
h2          	{margin-top:3em;}
hr				{background:#444;border:0;height:1px;}
header			{left:1rem;position:fixed;text-align:center;top:2rem;width:8rem;}
header p		{font-weight:bold;font-size:1.5rem;margin:0;text-align:center;text-transform:uppercase;}
html			{color:#444;font-size:10pt;}
img,video		{max-width:calc(100% - 1rem);}
p				{line-height:1.5rem;text-align:justify;}
p>span.MathJax_SVG{margin-bottom: -1em !important;}
pre        		{background:#fff;border:1px solid #555;overflow:visible !important;padding:10px !important;tab-size:4;}
small       	{font-size:0.8rem;text-align:justify;}
sub				{vertical-align:bottom;position:relative;bottom:-0.3em;}
sup				{vertical-align:top;position:relative;top:-0.3em;}
table			{border-collapse:collapse;margin:1em 0;}
thead			{font-family:'Playfair Display','Lora',sans-serif;font-weight:bold;}
thead td		{padding-bottom:1rem;}
tr:nth-child(even){background:#f0f0f0;}

// Mobile and print
@media print, screen and (max-width: 750px) {
	body.notes	{margin:0 1rem !important;padding:0 !important;position:static;width:auto !important;}
	table		{max-width:100%;}
}
@media print, screen and (max-width: 520px) {
	body		{margin:0 !important;padding:0 1rem !important;position:static;width:auto !important;text-align:left;}
	header		{display:none;}
	footer		{margin: 0 -1rem;}
	.headshot	{margin-bottom:1rem;max-width:none;width:100%;}
	.me			{position:relative;}
}
@media print {
	html		{background:white;}
	h2			{margin-top:1em;}
	body		{color:black;font-size:11pt;padding:0.4in 0;}
	.me			{display:none;}
}
