---
---

// Fonts
@font-face {
  font-family: 'M+1';
  src: url('/assets/fonts/m+1.eot');
  src: url('/assets/fonts/m+1.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/m+1.woff') format('woff'),
    url('/assets/fonts/m+1.ttf') format('truetype');
}
@font-face {
  font-family: 'M+1M';
  src: url('/assets/fonts/m+1m.eot');
  src: url('/assets/fonts/m+1m.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/m+1m.woff') format('woff'),
    url('/assets/fonts/m+1m.ttf') format('truetype');
}
@font-face {
  font-family: 'Noto Serif';
  src: url('/assets/fonts/NotoSerif-wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  src: url('/assets/fonts/NotoSerif-Italic-wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Noto Naskh Arabic';
  src: url('/assets/fonts/NotoNaskhArabic-wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Noto Serif Armenian';
  src: url('/assets/fonts/NotoSerifArmenian-wght.ttf') format('truetype');
}
// Hinted (Not Full) Noto Sans Fonts
@font-face {
  font-family: 'Noto Sans Chorasmian';
  src: url('/assets/fonts/NotoSansChorasmian-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Noto Serif Georgian';
  src: url('/assets/fonts/NotoSerifGeorgian-wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Noto Sans Nushu';
  src: url('/assets/fonts/NotoSansNushu-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Noto Sans Old Persian';
  src: url('/assets/fonts/NotoSansOldPersian-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Noto Sans Old Sogdian';
  src: url('/assets/fonts/NotoSansOldSogdian-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Noto Sans Sogdian';
  src: url('/assets/fonts/NotoSansSogdian-Regular.ttf') format('truetype');
}
$copy-font: 'Noto Serif', 'Noto Naskh Arabic', 'Noto Serif Armenian', 'Noto Sans Chorasmian', 'Noto Serif Georgian', 'Noto Sans Old Persian', 'Noto Sans Nushu', 'Noto Sans Old Sogdian', 'Noto Sans Sogdian', 'source-han-serif-japanese', serif;
$mono-font: 'M+1M', 'M+1', monospace;
$title-font: 'bodoni-pt-variable', 'source-han-serif-japanese', serif;

// Colors 
$primary: #444;
$secondary: white;
$tertiary: #983030;
$tertiary-alt: #ffb3cc;
$table-alt: #fff0f8;
$table-alt-dark: #181818;

// Sizes
$block-space: 2rem;
$em-size: 12pt;
$line-height: 1.8;
$pq-width: 18rem;
$section-space: 5rem;
$width: 48rem;

// Shadows
$hover-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);

// General styles
@import 'elements', 'ruby', 'ruby_iOS';

// Blocks
@import 'blocks';

// Handle libraries
@import 'rouge', 'mathjax', 'twemoji';

// Dark mode
html.dark {
  background: #111;
  color: $secondary;
  @import 'elements_dark', 'blocks_dark';
}

// Mobile and print
@media print, screen and (max-width: $width + $pq-width) {
  @import 'blocks_noHang';
}
@media print, screen and (max-width: $width + 2rem) {
  @import 'elements_noHang';
}
@media print, screen and (max-width: 500px) {
  @import 'elements_mobile', 'blocks_mobile';
}
@media print {
  @import 'elements_print', 'blocks_print';
}
