---
layout: default
---

<div class="bio">
    <h1 style="margin-top:0;">Anarchy.Website</h1>
    <p>
        Welcome to <a href="/">anarchy.website</a>, a collection of written
        works by Una J. Ada, a.k.a. Trevor (J.) Hoglund* or Trewbot. Areas of
        interest and thus common topics on this site include but are not limited
        to: absurdism, anarchism, comedy, consciousness, direct action, discrete
        mathematics, functional programming, futurism, linguistics, machine
        learning, magic, prefigurative politics, sociology, symbology,
        technogaianism, transhumanism, quantum physics. All works are available
        under a
        <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative
        Commons Attribution Share-Alike 4.0 International License</a> except
        where otherwise noted.
    </p>
    <p>
        For works in other media, including videos, photography, and programming
        by Una, refer to <a href="https://trew.moe">trew.moe</a>.
    </p>
    <p>
        <i>* While I would like to eventually use only names that I have chosen
        for myself rather than those that were assigned to me, I would also like
        this site to serve as a proper archive of works I have written. I take
        no offense to being reffered to by any name not intended as offensive
        that is used to refer to me, I view any name used to refer to something
        or someone as a valid name for that thing or person. As such, works are
        saved here under the name that they were originally written/published
        under.</i>
    </p>
</div>

<h2 style="margin-top:2rem;">Recent posts:</h2>

{% for post in site.posts limit:5%}
    {% include preview.html post=post %}
{% endfor %}

<p><strong><a href="/archive">More posts &rarr;</a></strong></p>
