<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% include head.html %}
<body>
    {% include header.html %}
    <h1>{{ page.title }}</h1>
    <p>
        {% if page.author %}
            By
            {% for author in page.author %}
                {% if forloop.last and forloop.length > 1 %}and{%endif%}
                {% if site.data.people[author].url %}<a href="{{site.data.people[author].url}}">{%endif%}
                    {{site.data.people[author].name}}
                {% if site.data.people[author].url %}</a>{%endif%}
                {% if forloop.length > 2 and forloop.rindex > 0 %},{%endif%}
            {% endfor %}
        {% endif %}
    </p>
    {{ content }}
    <script>twemoji.parse(document.body)</script>
    {% include footer.html %}
</body>
</html>
