<!doctype html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xml:lang="{{ page.lang | default: 'en' }}"
    lang="{{ page.lang | default: 'en' }}"
>
{%include head.html%}
<body>
    {%- include header.html -%}
    <div class="title">
        {%- if page.series -%}
            {%- assign ser = site.data.series[page.series] -%}
            {%- unless ser.type == "series" -%}
            <div class="title__series">
                {%- if ser.url -%}<a href="{{ser.url}}">{%- endif -%}
                    {%- unless ser.no_em -%}<em>{%- endunless -%}
                      {{ser.title}}
                    {%- unless ser.no_em -%}</em>{%- endunless -%}
                {%- if ser.url -%}</a>{%- endif -%}
                {%- if page.entry -%}
                  &nbsp;&ndash;&nbsp;
                  {%- if ser.set -%}{{ser.set}} {{page.set}},&nbsp;{%- endif -%}
                  {%- if ser.entry -%}{{ser.entry}}&nbsp;{%- endif -%}{{page.entry}}
                {%- endif -%}
            </div>
            {%- endunless -%}
        {%- endif -%}
        {%- if page.image and page.replace_title -%}
            <img class="title__card" alt="{{page.title | strip_html}}" src="{{page.image}}"/>
        {%- else -%}
            <h1 class="title__heading{% unless page.author and page.date %}
                title__heading_alone
            {% endunless %}"><!-- Sometimes strip_html simply isn't enough (like ruby text) -->
                {%- if page.stylized_title -%}
                    {{page.stylized_title}}
                {%- else -%}
                    {{page.title}}
                {%- endif -%}
                {%- if paginator -%}
                    , {{ paginator.page }} of {{ paginator.total_pages }}
                {%- endif -%}
            </h1>
            {%- unless page.author and page.date -%}
                <hr />
            {%- endunless -%}
        {%- endif -%}
        {%- if page.subtitle -%}
            <h3 class="title__subtitle">{{ page.subtitle }}</h3>
        {%- endif -%}
        {%- if page.image and page.replace_title and page.author and page.date -%}
            <div class="title__byline">
                {{ l10n_authors }}{{ l10n_date }}
            </div>
        {%- else -%}
            {% include divider_fancy.html byline=true %}
        {%- endif -%}
    </div>
    {%- if paginator -%}
        {%- include navigation.html -%}
    {%- endif -%}
    <div class="content {%if page.monospace%}content_monospace{%endif%}">
        {{content}}
    </div>
    {%- include navigation.html -%}
    <script>twemoji.parse(document.body, {
        //  Use SVG emojis
        folder: 'svg',
        ext: '.svg',
        callback: function(icon, op, variant){
            //  Emoji rendering exclusions
            //  (mostly text-like symbols that are better handled by the font)
            switch(icon){
                case '203c':    // Double exclamation
                case '2640':    // Female sign
                case '2642':    // Male sign
                case '26a7':    // Transgender sign
                case '3030':    // Wavy dash
                    return false;
            }
            return ''.concat(op.base, op.size, '/', icon, op.ext);
        }
    })</script>
    {%include footer.html%}
</body>
</html>
