---
layout: default
---

<h1>Tag: </h1>
{% for post in site.posts %}
    {% include preview.html post=post %}
{% endfor %}

<hr>
{% include archive.html %}

<script>
function handleTag(){
    var tag = location.hash.split('#')[1],
        pvs = document.getElementsByClassName('preview');
    document.getElementsByTagName('h1')[0].innerText = "Tag: " + tag;
    for(let i of pvs)
        i.style.display = ~i.getAttribute('data-tags').indexOf(tag)
                        ? ''
                        : 'none';
}
window.addEventListener('load',handleTag,false);
window.addEventListener('hashchange',handleTag,false);
</script>
